:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 402px;
  height: 793px;
  margin: 0 auto;
  background: #a0a0a0;
  overflow: hidden;
}
.image {
  position: absolute;
  width: 402px;
  height: 793px;
  top: 0;
  left: 0;
  background: url(./assets/images/a2bbbce3c36e934a76db62e246cc4c3188d53646.png)
    no-repeat center;
  background-size: cover;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 123px;
  left: 15px;
  color: #ffffff;
  font-family: Sen, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.rectangle {
  position: absolute;
  width: 166px;
  height: 57px;
  top: 130px;
  left: 15px;
  background: #3a30aa;
  z-index: 1;
}

body {
  background-color: #3a30aa;
}